/* PANEL VIEW */
.panelView {
  width: 160px;
  text-align: center;
  padding: 10px;
  background-color: white;
}

.panelView input[name=dontautotracking_number] {
  width: 150px;
}

.panelView input[name=dontautolabel] {
  width: 100px;
}

.panelView input[name=track] {
  width: 50px;
}

.panelView button {
  width: 160px;
}

.formValidationMessage {
  font-size: 80%;
  font-size: italic;
  color: grey;
}

/* MAIN PAGE */
.mainPage {
  width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.trackerInfo {
  border: 1px solid grey;
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 50% 30% 20%;
}

.trackerInfo a {
  color: #0066cc;
}

.label {
  text-transform: uppercase;
  font-size: 120%;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.lastUpdated {
  color: grey;
  grid-row: 3;
  grid-column: 2 / span 2;
  text-align: right;
}

.trackingActions {
  color: darkgrey;
  font-size: 80%;
  grid-row: 1;
  grid-column: 3;
  text-align: right;
  margin: -5px;
}

.trackingNumber {
  color: grey;
  grid-row: 3;
  grid-column: 1;
}

.trackingDetails {
  color: grey;
  font-size: 90%;
  grid-row: 2;
  grid-column: 1 / span 3;
}

.trackingActions span {
  padding-left: 5px;
}
.trackingActions span:hover {
  color: grey;
}

.inProgressFilter {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
  background-color: rgba(204, 229, 255, 0.3);
  margin: -10px;
}
