.panelView {
  width: 160px;
  text-align: center;
  padding: 10px;
  background-color: white;
}

.panelView input, .panelView button {
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 0px 3px 0px 3px;
  line-height: 20px;
  vertical-align: middle;
}

.panelView input:focus {
  border: 1px solid #cce5ff;
  outline: none;
}

.panelView button:hover, .panelView input[name=track]:hover:enabled {
  background-color: #cce5ff;
}

.panelView input[name=track]:disabled {
  background-color: #e2e2e2;
}

.panelView hr {
  border: 1px solid lightgrey;
}

/* TODO: fix panelView styling, hover/select/disabled styles */
.panelView input[name=dontautotracking_number] {
  width: 160px;
  margin-bottom: 2px;
}

.panelViewBottomRow {
  height: 50px;
}

.panelView input[name=dontautolabel] {
  width: 110px;
}

.panelView input[name=track] {
  width: 48px;
  margin-left: 2px;
  background-color: #eff7ff;
}

.panelView button {
  width: 160px;
  background-color: #eff7ff;
}

.formValidationMessage {
  font-size: 80%;
  font-size: italic;
  color: grey;
}
